temp BITMAP test.bmp
chrome BITMAP chrome.bmp
kde_logo BITMAP kde_logo.bmp
large-window_list BITMAP large-window_list.bmp
kfm_home BITMAP kfm_home.bmp
large-kcontrol BITMAP large-kcontrol.bmp
large-kfind BITMAP large-kfind.bmp
utils_package BITMAP large-utilities_package.bmp
